html, body {
	height: 100%;
}

html * {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	padding-top: 52px;
}

.navbar {
	margin-bottom: 1px;
}

#infopanel {
	margin-bottom: 0px;
	padding: 5px 15px 5px 15px;
}

#info_icon:hover {
	transition: transform 0.3s;
	transform: scale(1.4);
}