html, body {
	height: 100%;
}

html * {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	padding-top: 52px;
}

.navbar {
	margin-bottom: 1px;
}

#infopanel {
	margin-bottom: 0px;
	padding: 5px 15px 5px 15px;
	overflow: hidden;
}

#info_icon:hover {
	transition: transform 0.3s;
	transform: scale(1.4);
}

#info_icon {
	text-shadow: 3px 3px 8px #aaa; 
	cursor: pointer;
}