{% extends 'base.html' %}
{% block container %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h3>orbiNav</h3>
			<p>
				orbiNav is my solution to <a href="https://reaktor.com/orbital-challenge/">Reaktor Orbital Challenge</a>. The server side code is written in Python (using Django framework) and client side is JavaScript. All the details are available on <a href="https://github.com/sevesalm/orbiNav">GitHub page</a>. 
			</p>
			<p>Feel free to contact me if you have any questions or comments!<br><br>Email: <a href="mailto:severi.salminen@saunalahti.fi">severi.salminen@saunalahti.fi</a><br><br>(Not my main email, but will read it quite often)</p>
		</div>
	</div>
</div>
{% endblock %}