{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Info</h3>
				</div>
				<div class="modal-body">
					<p>This is my solution to <a href="https://reaktor.com/orbital-challenge/">Reaktor Orbital Challenge</a>. Source code and details can be found on <a href="https://github.com/sevesalm/orbiNav">GitHub page.</a></p>
					<h4>Usage</h4>
					<ul>
						<li>Rotate by draggin</li>
						<li>Zoom in/out by mouse wheel/pinching</li>
						<li>Autorotation halts when the mouse cursor is on the 3D canvas</li>
						<li>Use the radio buttons to switch between solutions</li>
						<li>Press "Generate new" to fetch a new problem and a solution</li>
					</ul>
					<h4>Contact</h4>
					<p>Email: <a href="mailto:severi.salminen@saunalahti.fi">severi.salminen@saunalahti.fi</a></p>
				</div>
			</div>
		</div>
	</div>
	<div id="renderer" class="text-center"></div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 well" id="infopanel">
			<div class="row">
				<div class="col-sm-3 col-xs-10">
					<div class="radio">
					  <label><input type="radio" id="radio_euc" name="optradio" checked>Minimize distance</label>
					</div>
					<div class="radio">
					  <label><input type="radio" id="radio_hops" name="optradio">Minimize hops</label>
					</div>
				</div>
				<div class="col-sm-1 col-sm-push-8 col-xs-2">
					<span id="info_icon" class="pull-right fa fa-info-circle fa-2x" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>
				</div>

				<div class="col-sm-8 col-sm-pull-1 col-xs-12">
					<span id="seed"></span><br>
					<span id="solution"></span><br>
					<span id="hops"></span><span id="dist"></span><br>
				</div>
			</div>
			<button id="gen_btn" type="button" class="btn btn-primary center-block has-spinner" onclick="generate()"> Generate new</button> 
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'render.js' %}"></script>
{% endblock %}