{% extends 'base.html' %}
{% block container %}

	<div id="renderer" class="text-center"></div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 well" style="padding: 0px 10px 5px 10px;">
			<div class="row">
				<div class="col-sm-3">
					<div class="radio">
					  <label><input type="radio" id="radio_euc" name="optradio" checked>Minimize distance</label>
					</div>
					<div class="radio">
					  <label><input type="radio" id="radio_hops" name="optradio">Minimize hops</label>
					</div>
				</div>
				<div class="col-sm-9">
					<h5 id="seed"></h5>
					<h5 id="solution"></h5>
					<h5 id="hops"></h5>
					<h5 id="dist"></h5>
				</div>
			</div>
			<button id="gen_btn" type="button" class="btn btn-primary btn-lg center-block has-spinner" onclick="generate()"> Generate new</button> 
		</div>
	</div>
	<script type="text/javascript">

	var points = [];
	var start = [];
	var end = [];
	var solution_euc = []
	var solution_hops = []
	var solution = [];
	var graph = [];
	var scene;

	var red = new THREE.MeshBasicMaterial( {color: 0xee4422});
	var blue = new THREE.MeshBasicMaterial( {color: 0x5533dd, wireframe: true});
	var green = new THREE.MeshBasicMaterial( {color: 0x22cc11});
	var white = new THREE.MeshBasicMaterial( {color: 0xffffff});
	var lineMat = new THREE.LineBasicMaterial({color: 0xffffff, linewidth: 2})
	var lineMat2 = new THREE.LineBasicMaterial({color: 0xbb7766, linewidth: 1, opacity: 0.7, transparent: true})

	var renderer = new THREE.WebGLRenderer({antialias: true});
	var WIDTH = get_viewport_width(), HEIGHT=get_viewport_height();
	var VIEW_ANGLE = 43, ASPECT = WIDTH/HEIGHT, NEAR = 100, FAR = 100000000;

	var camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
	camera.position.z = -20000000;

	renderer.setSize(WIDTH, HEIGHT);
	$('#renderer').append(renderer.domElement);

	var controls = new THREE.OrbitControls(camera, renderer.domElement);
	controls.enableZoom = false;
	controls.enablePan = false;
	controls.addEventListener('change', render);

	generate();

	window.addEventListener( 'resize', onWindowResize, false );

	function onWindowResize(){
		set_viewport_size();
		render();
	}

	function set_viewport_size() {
		var width = get_viewport_width();
		var height = get_viewport_height();
		camera.aspect = width / height;
		camera.updateProjectionMatrix();
		renderer.setSize( width, height );
	}

	function get_viewport_width() {
		return window.innerWidth*0.9;
	}

	function get_viewport_height() {
		return window.innerHeight-300;
	}

	function render() {
		renderer.render(scene, camera);
	};

	$('input:radio').change(function(){
	        update_solution();  
	        update_info();
	        update_renderer();
	    }
	);  

	function update_solution() {
		if($('input[name=optradio]:checked').attr('id') == "radio_euc") {
			solution = solution_euc;
		}
		else {
			solution = solution_hops;
		}
	}

	function generate() {
		$('#gen_btn').html('<i class="fa fa-refresh fa-spin fa-1x fa-fw margin-bottom"></i> Generating...');
		$.get("{% url 'generate' %}", function(data) {
			$('#seed').text("Seed: " + data.seed);
			solution_euc = data.euc;
			solution_hops = data.hops;
			points = $.makeArray(data.points);
			start = points[0];
			end = points[1];
			graph = $.makeArray(data.graph);

			update_solution();
			update_info();
			update_renderer();
			$('#gen_btn').text("Generate new");
		});
	}

	function update_info() {
		var result = []

		$.each(solution.solution, function(idx, val) {
			result.push("SAT" + val);
		});

		if(solution.hops > 0) {
			$('#solution').text("Solution: " + result);
			$('#hops').text("Hops: " + (solution.hops));
			$('#dist').text("Distance: " + (Math.round(solution.distance*0.001)) + " km");
		}
		else {
			$('#solution').text("No solution possible!");
			$('#hops').empty();
			$('#dist').empty()
		}
	}

	function update_renderer() {
		scene = new THREE.Scene();
		scene.fog = new THREE.Fog(0x000000, 20000000, 30000000);
		var earth = new THREE.Mesh(new THREE.SphereGeometry(6371000, 32, 32), blue);
		scene.add(earth);

		$.each(points, function(idx, val) {
			if(idx < 2)
				return true;
			var node = new THREE.Mesh(new THREE.SphereGeometry(100000, 12, 12), red)
			translate_to(node, val);
			scene.add(node);
		});

		var node = new THREE.Mesh(new THREE.SphereGeometry(100000, 12, 12), green)
		translate_to(node, start);
		scene.add(node);

		var node = new THREE.Mesh(new THREE.SphereGeometry(100000, 12, 12), white)
		translate_to(node, end);
		scene.add(node);


		if(solution.hops > 0) {
			connect(start, points[solution.solution[0]+2], lineMat);
			$.each(solution.solution, function(idx, val) {
				if(idx > 0)
					connect(points[val+2], points[solution.solution[idx-1]+2], lineMat);
			})
			connect(end, points[solution.solution[solution.solution.length-1]+2], lineMat);
		}

		$.each(graph, function(row, row_data) {
			$.each(row_data, function(col, val) {
				if(val == 1) {
					connect(points[row], points[col], lineMat2)
				}
			})
		})

		renderer.render(scene, camera);
	}

	function translate_to(obj, coord) {
		obj.position.x = coord[0];
		obj.position.y = coord[1];
		obj.position.z = coord[2];
	}

	function connect(start, end, material) {
		var geometry = new THREE.Geometry();
		geometry.vertices.push(
			new THREE.Vector3(start[0], start[1], start[2]),
			new THREE.Vector3(end[0], end[1], end[2])
		);
		var line = new THREE.Line(geometry, material);
		scene.add(line);
	}

	</script>
{% endblock %}